/* .admin-shedule{
    font-family: Arial, Helvetica, sans-serif;
} */

/* .gym-schedule-top-bar {
    background-color: gray;
    color: white;
    padding: 30px;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
  } */

/* .childDropDown{
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid green;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    float: right;
} */

/* .gym-top-bar-button {
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    background-color: grey;
    border: 4px solid white;
    color: white;
    margin: auto;
    max-width: 100%;
    margin-right: 0;
    margin-left: 40px;
    float: right;
  }
  
  .gym-top-bar-button:hover {
    background-color: white;
    color: black;
  } */

  .top-bar  {
    background-color: #2c3c4c;
    color: white;
    text-align: left;
    font-size: 8vh;
    font-weight: normal;
    align-items: center;
    display: flex;
    padding-top: 3vh;
    width: 100vw; 
    height: 18vh;
    z-index: 0;
    margin-top: -5vh;
  }
  
  .top-bar .allButtons{
    position: absolute;
    right: 0;
    gap: 30px;
    display: flex;
    margin: 30px;
  }
  
  .top-bar .top-bar-button{
    /* padding: 10px 25px; */
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    transition-duration: 0.4s;
    background-color: #b8b843;
    border: 2px transparent;
    color: white;
    width: 7.5vw;
    height: 6vh;
  }
  
  .top-bar .top-bar-button:hover {
    background-color: #878735;
    color: white;
  }

  .top-bar .top-bar-buttons{
    /* padding: 10px 25px; */
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    transition-duration: 0.4s;
    background-color: #7d8f97;
    border: 2px transparent;
    color: white;
    width: 7.5vw;
    height: 6vh;
    right: 0;
  }
  
  .top-bar .top-bar-buttons:hover {
    background-color: #667378;
    color: white;
  }

  .confirm-form-popup {
    display: none;
    position: fixed;
    border: 3px solid #acaeae;
    z-index: 1000 !important;
    background-color: #dfdfdf;
    width: 25vw;
    text-align: center;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
    .confirm-form-popup .btn {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 2.1vh;
      background-color: #5ba996;
      color: white;
      width: 7.5vw;
      height: 6vh;
      border: none;
      cursor: pointer;
      margin-bottom: 3vh;
      margin-top: 2vh;
      opacity: 1;
      margin-left: 3vw;
    }
  
    .confirm-form-popup .btn:hover {
      background-color: #4c786d;
    }
  
  
    /* Add a red background color to the cancel button */
  .confirm-form-popup .cancel {
      background-color: #db936f;
      margin-right: 3vw;
    }
  
    .confirm-form-popup .cancel:hover {
      background-color: #a9745a;
    }