.user-level-page{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: left;
    font-size: 8vh;
    font-weight:normal;
    height: 100vh;  
    width: 100vw;
    /* background-color: red; */
    background: linear-gradient(to bottom, rgb(2, 187, 2) 0%, transparent 20%);
    z-index: 0;
    /* position: absolute; */
}
.ownerNLabel{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
    text-align: left;
    /* background-color: aqua; */
    position: absolute;
    /* width: 12vw; */
    z-index: 1;
    margin-top: 4vh;
    margin-left: 5vw;
}
.ownerName{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
    text-align: left;
    z-index: 2;
    margin-top: 4vh;
    margin-left: 10vw;
    position: absolute;
}


.buttonBack{
        width: 7.5vw;
        height: 6vh;
        color: white;
        background-color: #4b7588;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.5vh;
        font-weight: bold;
        z-index: 1;
        text-align: center;
        transition-duration: 0.2s;
        border: 2px solid transparent;
        margin-left: 60vw;
        position: absolute;
}
.buttonBack:hover{
    background-color: #2c3c4c;
    width: 8vw;
}
.buttonSave{
    width: 7.5vw;
    height: 6vh;
    color: white;
    background-color: #4b7588;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    transition-duration: 0.2s;
    border: 2px solid transparent;
    margin-left: 60vw;
    margin-top: 10vh;
    position: absolute;
}
.buttonSave:hover{
background-color: #2c3c4c;
width: 8vw;
}

.buttonAddTip{
    width: 7.5vw;
    height: 6vh;
    color: white;
    background-color: #4b7588;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    transition-duration: 0.2s;
    border: 2px solid transparent;
    margin-left: 60vw;
    margin-top: 20vh;
    position: absolute;
}
.buttonAddTip:hover{
background-color: #2c3c4c;
width: 8vw;
}

.labelSkills{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
    text-align: left;
    /* background-color: red; */
    background: linear-gradient(to bottom, rgb(177, 179, 177) 0%, transparent 100%);
    height: 10vh;
    width: 80vw;
    margin-top: 20vh;
    margin-left: -27.3vw;
    position: absolute;
    z-index: 1;
}