
.top-bar  {
  background-color: gray;
  color: white;

  text-align: left;
  font-size: 40px;
  font-weight: bolder;
  align-items: center;
  display: flex;
}

.top-bar .allButtons{
  position: absolute;
  right: 0;
  gap: 30px;
  display: flex;
  margin: 30px;
}

.top-bar .top-bar-button {
  padding: 15px 32px;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: grey;
  border: 4px solid white;
  color: white;
}

.top-bar-button:hover {
  background-color: white;
  color: black;
}




.view-account-page{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: left;
  font-size: 8vh;
  font-weight:normal;
  height: 100vh;  
  width: 100vw;
  /* background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #20f320 50%, #20f320 100%); */
  background: linear-gradient(to top, #8b8b8b83 0%, white 20%, transparent 50%);
/* padding-left: 2vw; */
/* background-color: #f5ecec; */
  z-index: 0;
}

.rectangleTop{
  width: 100vw; 
  height: 18vh;
  background-color: red;  
  margin-top: -13.5vh;
  z-index: 0;
  /* position: absolute; */
}
.rectangleButtons{
  width: 0.25vw; 
  height: 84.4vh;
  background-color: red;  
  color: #ddd; 
  margin-left: 1vw;

  z-index: 0s;
  position: absolute;
}
.rectangleFamReg{
  width: 0.25vw; 
  height: 84.4vh;
  background-color: red;  
  color: #ddd; 
  margin-top: 0vh;
  margin-left: 45.7vw;
  z-index: 0s;
  position: absolute;
}
.rectangleFamInf{
  width: 0.25vw; 
  height: 84.4vh;
  background-color: red;  
  color: #ddd; 
  margin-top: 0vh;
  margin-left: 49vw;
  z-index: 0s;
  position: absolute;
}
.rectangleMembers{
  width: 0.25vw; 
  height: 84.4vh;
  background-color: #a39e9e;  
  color: #ddd; 
  margin-top: 0vh;
  margin-left: 15.5vw;
  z-index: 0s;
  position: absolute;
}
.rectangleCurrent{
  width: 0.25vw; 
  height: 84.4vh;
  background-color: #a39e9e;  
  color: #ddd; 
  margin-top: 0vh;
  margin-left: 60vw;
  z-index: 0s;
  position: absolute;
}
.rectangleSubs{
  width: 0.25vw; 
  height: 84.4vh;
  background-color: red;  
  color: #ddd; 
  margin-top: 0vh;
  margin-left: 85vw;
  z-index: 0s;
  position: absolute;
}


.ownerNLabel{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  text-align: left;
  /* background-color: #ddd; */
  position: absolute;
  width: 12vw;
  margin-left: 23.3vw;
  margin-top: -13vh;
  /* padding-top: 1vh; */
  /* padding-bottom: 1vh; */
  /* height: 5v */
  z-index: 1;
}
.ownerName{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  /* padding-top: 1vh; */
  padding-left: 1vw;
  text-align: left;
  /* background-color: white; */
  position: absolute;
  width: 25vw;
  margin-left: 29vw;
  margin-top: -13vh;
  /* padding-top: 1vh; */
  /* padding-bottom: 1vh; */
  z-index: 2;
}

.ownerELabel{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  text-align: center;
  /* background-color: #ddd; */
  position: absolute;
  width: 12vw;
  margin-left: 20vw;
  margin-top: -8vh;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
  z-index: 1;
}
.ownerEmail{
  /* background-color: #20f320; */
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  text-align: left;
  /* padding-left: 1vw; */
  /* background-color: white; */
  position: absolute;
  width: 25vw;
  margin-left: 30vw;
  margin-top: -8vh;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
  z-index: 1;
}

.emailSubs{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3vh;
  font-weight: normal;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* flex-direction: row; */
  /* padding-bottom: 30px; */
  background-color: red;
  /* padding-left: 0vw;
  padding-top: 2vh;
  padding-bottom: 2vh; */
  padding-top: 1.55vh;
  padding-bottom: 1.55vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 84.5vw;
  margin-top: 2vh;
}
.checklistPromotions {
  background-color: red;
  display: block;
  position: absolute;
  padding-top: 1vh;
  padding-left: 3vw;
  padding-right:1vw;
  padding-bottom: 1vh;
  cursor: pointer;
  user-select: none;
  margin-top: 16vh;
  margin-left: 84.5vw;
  font-size: 2vh;
  /* height: 1vh; */
  /* margin-bottom: 0px;
  padding-bottom: 20px; */
  /* background-color: aqua; */
}
/* Hide the browser's default checkbox */
 .checklistPromotions input {
  /* margin-left: 1vw; */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* background-color: red; */
}
/* Create a custom checkbox */
.checkmarkPromotions {
  margin-top: 1vh;
  margin-left: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 2.7vh;
  width: 1.4vw;
  background-color: white;
}
/* On mouse-over, add a grey background color */
.checklistPromotions:hover input ~ .checkmarkPromotions {
  background-color: darkgrey;
}
/* When the checkbox is checked, add a blue background */
.checklistPromotions input:checked ~ .checkmarkPromotions {
  background-color: gray;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkPromotions:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checklistPromotions input:checked ~ .checkmarkPromotions:after {
  display: block;
}
/* Style the checkmark/indicator */
.checklistPromotions .checkmarkPromotions:after {
  left: 0.5vw;
  top: 0.5vh;
  width: 0.3vw;
  height: 1vh;
  border: solid white;
  border-width: 0 0.2vw 0.4vh 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 


.checklistNews {
  background-color: red;
  /* display: block; */
  position: absolute;
  padding-top: 1vh;
  padding-left: 3vw;
  padding-right:1vw;
  padding-bottom: 1vh;
  cursor: pointer;
  user-select: none;
  margin-top: 10vh;
  margin-left: 84.5vw;
  font-size: 2vh;
  z-index: 2;
}
/* Hide the browser's default checkbox */
 .checklistNews input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmarkNews {
  margin-top: 1vh;
  margin-left: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 2.7vh;
  width: 1.4vw;
  background-color: white;
}
/* On mouse-over, add a grey background color */
.checklistNews:hover input ~ .checkmarkNews {
  background-color: darkgrey;
}
/* When the checkbox is checked, add a blue background */
.checklistNews input:checked ~ .checkmarkNews {
  background-color: gray;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkNews:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checklistNews input:checked ~ .checkmarkNews:after {
  display: block;
}
/* Style the checkmark/indicator */
.checklistNews .checkmarkNews:after {
  left: 0.5vw;
  top: 0.5vh;
  width: 0.3vw;
  height: 1vh;
  border: solid white;
  border-width: 0 0.2vw 0.4vh 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 



.emailOptions {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  /* margin: 25px; */
  padding-left: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: relative;
  background-color: #ddd;
}

.buttonSaveSubs{
  width: 6vw;
  height: 6vh;
  color: white;
  background-color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  margin-left: 84.5vw;
  margin-top: 22vh;
  position: absolute;
}
.buttonSaveSubs:hover{
  width: 6.5vw;
  /* height: 6.5vh; */
  /* color: black; */
  background-color: #cf0202;
}

.buttonLogout{
  width: 6vw;
  height: 6vh;
  color: white;
  background-color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  margin-left: 0.5vw;
  margin-top: 2vh;
  position: absolute;
}
.buttonLogout:hover{
  width: 6.5vw;
  /* height: 6.5vh; */
  /* color: black; */
  background-color: #cf0202;
}

.buttonManAcc{
  width: 6vw;
  height: 6vh;
  color: white;
  background-color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  margin-left: 0.5vw;
  margin-top: 42vh;
  position: absolute;

  visibility: hidden;
}
.buttonManAcc:hover{
  width: 6.5vw;
  /* height: 8vh; */
  background-color: #cf0202;
}

.buttonAdmCal{
  width: 6vw;
  height: 6vh;
  color: white;
  background-color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  margin-left: 0.5vw;
  margin-top: 50vh;
  position: absolute;

  visibility: hidden;
  /* display: none; */
}
.buttonAdmCal:hover{
  width: 6.5vw;
  /* height: 8vh; */
  background-color: #cf0202;
}

.buttonStuList{
  width: 6vw;
  height: 6vh;
  color: white;
  background-color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  margin-left: 0.5vw;
  margin-top: 26vh;
  position: absolute;
  visibility: hidden;

  /* visibility: hidden; */
}
.buttonStuList:hover{
  width: 6.5vw;
  /* height: 8vh; */
  background-color: #cf0202;
}

.buttonCoCal{
  width: 6vw;
  height: 6vh;
  color: white;
  /* color:red; */
  background-color: red;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  transition-duration: 0.2s;
  border: 2px solid transparent;
  margin-left: 0.5vw;
  margin-top: 34vh;
  position: absolute;
  
  visibility: hidden;
}
.buttonCoCal:hover{
  width: 6.5vw;
  /* height: 8vh; */
  background-color: #cf0202;
}

.view-account-column-entry .info-label {
  background-color: white;
  /* padding: 7px; */
}

.view-account-column-entry .edit-label {
  background-color: white;
  padding: 0.7vh;
  position: absolute;
  margin-left: 5.5vw;
}

.view-account-column-entry {
  /* flex: 1; */
  background-color: #a39e9e;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  position: relative;
  /* margin-top: 20vh; */
}

.account-label {
  font-size: 2.2vh;
  font-weight: bold;
  text-align: left;
  /* margin-bottom: 10px; */
  max-width: 100%;
}

.info-label {
  font-size: 1.6vh;
  text-align: left;
  max-width: 100%;
  border: 2px solid darkgray;
}

.view-account-text-field {
  padding: 1.6vh;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid red;
  /* margin-left: 20vw; */
}

.family-bar{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* flex-direction: row; */
  /* padding-bottom: 30px; */
  background-color: #a39e9e;
  /* padding-left: 0vw;
  padding-top: 2vh;
  padding-bottom: 2vh; */
  padding-top: 1.55vh;
  padding-bottom: 1.55vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 15vw;
  margin-top: 2vh;
}



.family-button{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 6vh;
  width: 6vw;
  text-align: center;
  font-size: 2.1vh;
  font-weight: normal;
  transition-duration: 0.4s;
  background-color: red;
  border: 2px solid transparent;
  color: white;
  /* margin: auto; */
  position: absolute;
  margin-left: 0.5vw;
  margin-top: 10vh;
  /* padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 2vw; */
}
.schedule-button{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  text-align: center;
  font-size: 2vh;
  font-weight: normal;
  transition-duration: 0.4s;
  background-color: red;
  border: 2px solid transparent;
  color: white;
  /* margin: auto; */
  position: absolute;
  margin-left: 0.5vw;
  margin-top: 18vh;
  height: 6vh;
  width: 6vw;
  /* padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw; */
}

.family-button:hover{
  background-color: #cf0202;
  width: 6.5vw;
  /* color: white; */
  /* padding-left: 4.5vw; */
}
.schedule-button:hover {
  background-color: #cf0202;
  width:6.5vw;
}

/* .heading{
  font-size: 24px;
  font-weight: bold;
  margin-left: 0px;
  
  text-align: center;
  max-width: 100%;
  
} */
.headingCurrMem{
  font-size: 2.5vh;
  font-weight: bold;
  /* margin-left: 0px; */
  /* float: left; */
  text-align: left;
  max-width: 100%;
  /* background-color: orange; */
}

.familyContainer{
  position: absolute;
  margin-top: 8.5vh;
  margin-left: 13.5vw;
}

.family-member-row {
  display: flex;
  flex-direction: row; 
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #a39e9e;
  margin-top: 2vh;
  margin-left: 1.5vw;
  width: 23vw;

}

.register-button{
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vw;
  text-align: center;
  font-size: 2.1vh;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: red;
  border: 2px solid transparent;
  color: white;
  /* margin-top: 10vh; */
  margin-left: 25vw;
  position: absolute;
}

.register-button:hover {
  padding-right: 1.5vw;
  margin-left: 24.5vw;
  background-color: #cf0202;
}

.family-member-name {
  margin: auto;
  font-size: 2.3vh;
  margin-left: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  /* background-color: #ddd; */
}

.info-button{
  /* padding: 10px 25px; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  font-size: 2.2vh;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: red;
  border: 2px solid transparent;
  color: white;
  margin-left: 33.7vw;
  position: absolute;
}

.info-button:hover {
  padding-left: 1.5vw;
  margin-left: 35.5;
  background-color: #cf0202;
}

.currentMemberPanel {
  padding-top:2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 5vw;
  background-color: #a39e9e;
  margin-top: 20vh;
  margin-left: 59.5vw;
  position: absolute;
  
}

.currentMemberPanel .edit-family-info {
  display: flex;
  flex-direction: column;
}

.view-user-info-3 .email-list {
  background-color: lightgray;
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.family-info {
  display: flex;
  flex-direction: row; 
  justify-content: right;
  align-items: center;
}

.edit-button{
  /* padding: 10px 25px; */
  text-align: center;
  font-size: 2vh;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: red;
  border: 2px transparent;
  color: white;
  width: 5vw;
  height: 4vh;
}

.edit-button:hover {
  background-color: #cf0202;
  color: white;
}

.save-button{
  /* padding: 10px 25px; */
  text-align: center;
  font-size: 2vh;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: red;
  border: 2px transparent;
  color: white;
  margin-left: 1vw;
  width:5vw;
  height:4vh;
  /* position: absolute; */
  /* padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw; */

}
.save-button:hover {
  background-color: #cf0202;
  /* height: 4.5vh; */
  color: white;
}

/* On mouse-over, add a grey background color */
.checklist:hover input ~ .checkmark {
  background-color: darkgrey;
}

/* When the checkbox is checked, add a blue background */
.checklist input:checked ~ .checkmark {
  background-color: blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklist input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
/* .checklist .checkmark:after {
  
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}    */

.myForm-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(114, 114, 114, 0.925);
  z-index: 2;
}

.add-family-popup {
  /* display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; */
  display: none;
  position: fixed;
  bottom: 0;
  width:30vw;
  height: 30vh;
  border: 3px solid red;
  background-color: white;  
  z-index: 9;
}

/* Add styles to the form container */
/* .add-family-container {
   display: flex;
  flex-direction: row; 
  max-width: 400px;
  padding: 10px;
  background-color: white;
}  */

.family-form-container input[type=name], .family-form-container input[type=phone], .family-form-container input[type=birthday], .family-form-container input[type=startTime], .family-form-container input[type=endTime] {
  /* width: 100%; */
  /* padding: 15px; */
  /* margin: 5px 0 22px 0; */
  /* margin-right: 10px; */
  /* max-width: 90%; */
  border: none;
  background-color: white;
  border: 2px solid red;
  position: absolute;
  margin-top: 2.7vh;
  margin-left: 7vw;
  width: 16.2vw;
  height: 5vh;
  z-index: 9;
}



.add-family-label-name{
  margin: auto;
  font-size: 2.2vh;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 3.5vh;
  position: absolute;
}
.add-family-label-bday{
  font-size: 2.2vh;
  color: black;
  margin-top: 12.5vh;
  margin-left: 1vw;
  position: absolute;
}

.family-form-container .btn-sub {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition-duration: 0.4s;
  text-align: center;
  font-size: 2.1vh;
  font-weight: normal;
  background-color: red;
  color: white;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  /* width: 100%; */
  /* margin-bottom:0px; */
  margin-top: 23vh;
  margin-left: 2vw;
  width: 10vw;
  height: 5vh;
  position: absolute;
  z-index: 10;
}
.btn-sub:hover{
  width:10.5vw;
  background-color: #cf0202;
}


.family-form-container .btn-cancel {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition-duration: 0.4s;
  text-align: center;
  font-size: 2.1vh;
  font-weight: normal;
  color: white;
  background-color: red;
  border: none;
  position: absolute;
  z-index: 10;
  margin-top: 23vh;
  margin-left: 18vw;
  width: 10vw;
  height: 5vh;
}
.btn-cancel:hover{
  width:10.5vw;
  background-color: #cf0202;
}

.custom-datepicker-addFamily{
  padding: 1.5vh 3.25vw;
  text-align: center;
  font-size: 1.5vh;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid darkgray;
  color: black;
  /* margin:auto; */
  margin-top: 3vh;
  margin-left: 7vw;
  /* width: 60%; */
  height:2vh;
  position: absolute;
}

.custom-datepicker-addFamily:hover{
  background-color: #ddd;
  border: 2px solid darkgray;
  cursor: pointer

}


/* Media query for smaller screens */
/* @media (max-width: 768px) {
  .view-account-container {
    flex-direction: column;
    margin: 10px;
  }

  .view-account-column-entry, .view-user-info-1,
  .view-user-info-2, .view-user-info-3,
  .view-user-info-3 .edit-label,
  .view-user-info-3 .email-list {
    flex: 1;
    margin: 10px;
  }

  .register-button,
  .info-button,
  .schedule-button, 
  .save-button,
  .edit-button {
    margin-left: 10px;
  }

  .family-schedule {
    padding-top: 0;
    margin-top: 10px;
    justify-content: center;
  } */
/* } */
