.account-creation-page  {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  text-align: left;
  font-size: 95px;
  font-weight:normal;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, transparent 0%, transparent 50%,  #ff9e0c 50%, #ff9e0c 100%);
  z-index: 0;
  }
    
  .entryName {
    display: flex;
    flex-direction: row;
    margin-top: -2vh;
    margin-left: 3vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelName {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 17vw;
    color: black;
    margin-left: 74vw;
    margin-right: -9vw;
    z-index: 1;
  }
  .triangleName {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: 0vw;
    z-index: 2;
  }
  .fieldName {
    font-size:18px;
    border: 2px solid transparent;
    z-index: 2;
    width: 11vw;
  }

  .entryEmail {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 0vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelEmail {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 14vw;
    color: black;
    margin-right: -6vw;
    margin-left: 66.6vw;
    z-index: 1;
  }
  .triangleEmail {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: -3vw;
    z-index: 2;
  }
  .fieldEmail {
    font-size: 18px;
    border: 2px solid transparent;
    z-index: 2;
    width: 15vw;
  }

  .entryPword {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 54.1vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelPword {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 17vw;
    color: black;
    margin-right: -9vw;
    z-index: 1;
  }
  .trianglePword {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: 0vw;
    z-index: 2;
  }
  .fieldPword {
    font-size:18px;
    border: 2px solid transparent;
    z-index: 2;
  }

  .entryConf {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 0vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelConf {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 17vw;
    color: black;
    margin-right: -9vw;
    margin-left: 44.5vw;
    z-index: 1;
  }
  .triangleConf {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: 0vw;
    z-index: 2;
  }
  .fieldConf {
    font-size:18px;
    border: 2px solid transparent;
    z-index: 2;
  }

  .entryPhone {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 35vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelPhone {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 17vw;
    color: black;
    margin-right: -9vw;
    z-index: 1;
  }
  .trianglePhone {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: 0vw;
    z-index: 2;
  }
  .fieldPhone {
    font-size:18px;
    border: 2px solid transparent;
    z-index: 2;
  }

  .entryBirthday {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 25.5vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelBirthday {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 17vw;
    color: black;
    margin-right: -9vw;
    z-index: 1;
  }
  .triangleBirthday {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: 0vw;
    z-index: 2;
  }
  .fieldBirthday {
    font-size:18px;
    border: 2px solid transparent;
    z-index: 2;
  }

  .entrySignature {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 16.05vw;
    background-color: transparent;
    z-index: 1;
  }
  .labelSignature {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    padding-left: 1vw;
    background-color: gainsboro;
    border: 2px solid transparent;
    height: 7.5vh;
    width: 17vw;
    color: black;
    margin-right: -9vw;
    z-index: 1;
  }
  .triangleSignature {
    width: 0; 
    height: 0; 
    border-left: 7.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 7.53vh solid white;
    margin-left: 0vw;
    z-index: 2;
  }
  .fieldSignature {
    font-size:18px;
    border: 2px solid transparent;
    z-index: 2;
  }
  .labelSigNote{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    border: 2px solid transparent;
    background-color: #ff9e0c;
  }

  .entryWaiver {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 0vw;
    background-color: transparent;
    margin-left: 16.5vw;
    z-index: 1;
  }
  .triangleWaiver {
    width: 0; 
    height: 0; 
    border-left: 6.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 6.53vh solid #37c6ff;
    margin-left: 0vw;
    z-index: 2;
  }
  .waiver-button {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    transition-duration: 0.4s;
    background-color: #37c6ff;
    border: 2px solid transparent;
    color: black;
    width: 10vw;
    height: 6.5vh;
    margin-top: 0vh;
    margin-left: 0vw;
  }
  .waiver-button:hover {
    width: 11.5vw;
    color: white;
  }

  .entrySubmit {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 9vw;
    background-color: transparent;
    z-index: 1;
  }
  .buttonSubmit {
    height: 6.5vh;
    width: 10vw;
    border: 2px solid transparent;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    transition-duration: 0.4s;
    background-color: #2df805;
    color: black;
    position:absolute;
    z-index: 1;
    margin-left: 6.45vw;
    margin-top: 0vh;
  }
  .triangleSubmit {
    width: 0; 
    height: 0; 
    border-left: 6.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 6.53vh solid #2df805;
    margin-left: 0vw;
    z-index: 2;
  }
  .buttonSubmit:hover {
    width: 11.5vw;
    color: white;
  }


  .entryBack {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 1.6vw;
    background-color: transparent;
    z-index: 1;
  }
  .buttonBack {
    height: 6.5vh;
    width: 10vw;
    border: 2px solid transparent;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    transition-duration: 0.4s;
    background-color: red;
    color: black;
    position:absolute;
    z-index: 1;
    margin-left: 6.4vw;
  }
  .triangleBack {
    width: 0; 
    height: 0; 
    border-left: 6.5vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 6.6vh solid red;
    margin-left: 0vw;
    z-index: 2;
  }
  .buttonBack:hover {
    width: 11.5vw;
    color: white;
  }



  
