.account-views-page {
  font-family: Arial, Helvetica, sans-serif;
}

.view-account-container {
  /* background-color: lightgrey; */
  border-color: black;
  height: auto;
  width: auto;
  margin: 50px;
  padding: 5px;
  display: flex;
  flex-direction: row; 
}

.view-user-info-1 {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: lightgray;
}


.view-account-column-entry .info-label {
  background-color: white;
  padding: 7px;
}

.view-account-column-entry .edit-label {
  background-color: white;
  padding: 7px;
}

.view-account-column-entry {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  margin: 25px;
  position: relative;
}

.account-label {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  max-width: 100%;
}

.info-label {
  font-size: 16px;
  text-align: left;
  max-width: 100%;
  border: 2px solid darkgray;
}

.view-account-text-field {
  padding: 16px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid darkgray;
}

.view-user-info-2 {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: lightgray;
}


.family-bar{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 30px;
}

.family-button{
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid purple;
  color: black;
  margin: auto;
  margin-right: 0px;
}

.family-button:hover{
  background-color: purple;
  color: white;
}

.heading{
  font-size: 24px;
  font-weight: bold;
  margin-left: 0px;
  float: left;
  max-width: 100%;
}

.heading[type="emailList"]{
  margin-bottom: 25px;
} 


.family-member-row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.register-button{
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid green;
  color: black;
  margin-left: 10px;
}

.register-button:hover {
  background-color: green;
  color: white;
}

.family-member-name {
  margin: auto;
  font-size: 18px;
  margin-left: 0px;
}

.info-button{
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid blue;
  color: black;
  margin-left: 10px;

}

.info-button:hover {
  background-color: blue;
  color: white;
}


.family-schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100%;
}

.schedule-button{
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid orange;
  color: black;
  bottom: 0;
}

.schedule-button:hover {
  background-color: orange;
  color: white;
}

.view-user-info-3 {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.view-user-info-3 .edit-family-info {
  background-color: lightgray;
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.view-user-info-3 .email-list {
  background-color: lightgray;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.family-info {
  display: flex;
  flex-direction: row; 
  justify-content: right;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.edit-button{
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid red;
  color: black;
  margin-left: 10px;
}

.edit-button:hover {
  background-color: red;
  color: white;
}

.save-button{
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid green;
  color: black;
  margin-left: 10px;

}

.save-button:hover {
  background-color: green;
  color: white;
}

 .checklist {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

/* Hide the browser's default checkbox */
 .checklist input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.checklist:hover input ~ .checkmark {
  background-color: darkgrey;
}

/* When the checkbox is checked, add a blue background */
.checklist input:checked ~ .checkmark {
  background-color: blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklist input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklist .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}   

/* The popup form - hidden by default */
.add-family-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.add-family-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=name], .form-container input[type=phone], .form-container input[type=birthday], .form-container input[type=startTime], .form-container input[type=endTime] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-right: 10px;
  max-width: 90%;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=name]:focus, .form-container input[type=description]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:0px;
  margin-top: 22px;
  opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .view-account-container {
    flex-direction: column;
    margin: 10px;
  }

  .view-account-column-entry, .view-user-info-1,
  .view-user-info-2, .view-user-info-3,
  .view-user-info-3 .edit-label,
  .view-user-info-3 .email-list {
    flex: 1;
    margin: 10px;
  }

  .register-button,
  .info-button,
  .schedule-button, 
  .save-button,
  .edit-button {
    margin-left: 10px;
  }

  .family-schedule {
    padding-top: 0;
    margin-top: 10px;
    justify-content: center;
  }
}
